<!DOCTYPE html>
<html>
  <head>
    <title>QuestPuncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class='site-container'>
      <div class='row no-gutters'>
        <div class="col-lg-3 col-md-4 col-sm-4 site-sidebar">
          <%= render 'static/sidebar' %>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-4 site-main">
          <div class="main-container">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
